<mat-card class="table-wrapper">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    @for (option of tableOptions; track option.key) {
    <ng-container [matColumnDef]="option.key">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [disabled]="!option.sortable"
      >
        {{ option.displayName }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[option.key] }}</td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</mat-card>
